body{
	background-image: url(../img/fondo.png);
	overflow-x: hidden;
	
}


.principal__hipervinculo--centrado{
	display:block ;
	width: 85%;
	margin: auto;

}
.titulo--contacto{
font-family: 'Bebas Neue', cursive;
	font-size: 4em;
	text-align: center;
	
	color: #000000;
}
.parrafo-contacto{
	font-size: 2em;
	text-align: center
}

.principal__articulo {
	border: solid rgba(0, 23, 255, 1.0) 0.2em;
	widows: 85%;
	text-align: center;
	margin: 3em;
	background: rgba(0, 23, 255, 0.5);

}
.principal__texto--centrado{
	font-size: 2.5em;
	display: inline-block;
	margin: 1em;
	
}
/*contactos*/
.contacto{

	display:flex; 
   

}


.form-contacto{
	text-align: center;
display:inline-block;
border: solid rgba(0, 23, 255, 1.0) 0.2em;
padding: 1em
}
.centrado{
	text-align: center
}
.mapa{
text-align: center
}
.contacto-mapa{
	display: flex;
	justify-content: center;
}

.texto-mediano{

	font-size:1.8em ;
}
.texto-pequeño{
	font-size: 1.5em;
}

.transformacion-index:hover{
	
	transform: skew(5deg,2deg);
}

//Novedades grid

.nov-contenedor{
	display:grid;
	grid-template-areas:"novedades novedades novedades"
	"rusty quicksilver billabong"; 

	grid-template-columns:auto auto auto ;
	grid-template-rows: auto auto  ;
justify-content: center;
 
}


.nov{
grid-area:novedades;
margin:2em
}
.rusty{
grid-area:rusty;
text-align: center


}
.quick{
grid-area:quicksilver;
text-align: center
}
.billa{
grid-area:billabong;
text-align: center
}