@mixin titulos{
	font-family: 'Bebas Neue', cursive;
  font-size: 5em;
  text-align: center;
  margin: 0.6em;
  color: #000000; 
}
.titulo-centrado-grande{
@include titulos
}
@mixin sub-titulos {
	font-family: 'Bebas Neue', cursive;
	font-size: 4em;
	text-align: center;
	margin: 1em;
	color: rgba(0, 23, 255, 1.0);
}
.sub-titulo{
@include sub-titulos
}