@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400&display=swap");
.encabezado {
  background: #0017ff;
  display: flex;
  justify-content: center; }

.nav-grande {
  font-size: 2em;
  display: flex;
  justify-self: space-evenly; }

.pie {
  background: #000000;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.pie__redes {
  display: flex;
  align-items: center;
  order: 1; }

.fb {
  background: white;
  display: inline-block; }

.pie__redsocial {
  display: inline-block;
  margin: 1em; }

.pie__titulo {
  color: white;
  display: flex;
  justify-content: flex-end;
  font-size: 2em;
  order: 3; }

.pie__form {
  display: flex;
  order: 2; }

.tamaño {
  margin: 3em;
  display: flex;
  justify-content: space-evenly; }

.pie__label {
  display: inline;
  color: white;
  font-size: 2em; }

* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

body {
  background-image: url(../img/fondo.png);
  overflow-x: hidden; }

.principal__hipervinculo--centrado {
  display: block;
  width: 85%;
  margin: auto; }

.titulo--contacto {
  font-family: 'Bebas Neue', cursive;
  font-size: 4em;
  text-align: center;
  color: #000000; }

.parrafo-contacto {
  font-size: 2em;
  text-align: center; }

.principal__articulo {
  border: solid #0017ff 0.2em;
  widows: 85%;
  text-align: center;
  margin: 3em;
  background: rgba(0, 23, 255, 0.5); }

.principal__texto--centrado {
  font-size: 2.5em;
  display: inline-block;
  margin: 1em; }

/*contactos*/
.contacto {
  display: flex; }

.form-contacto {
  text-align: center;
  display: inline-block;
  border: solid #0017ff 0.2em;
  padding: 1em;
width: 100%;
   }


.centrado {
  text-align: center; }

.mapa {
  text-align: center;
   }

.contacto-mapa {
  display: flex;
  justify-content: center; }

.texto-mediano {
  font-size: 1.8em; }

.texto-pequeño {
  font-size: 1.5em; }

.transformacion-index:hover {
  transform: skew(5deg, 2deg); }

.nov-contenedor {
  display: grid;
  grid-template-areas: "novedades novedades novedades"
 "rusty quicksilver billabong";
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  justify-content: center; }

.nov {
  grid-area: novedades;
  margin: 2em; }

.rusty {
  grid-area: rusty;
  text-align: center; }

.quick {
  grid-area: quicksilver;
  text-align: center; }

.billa {
  grid-area: billabong;
  text-align: center; }

.titulo-centrado-grande {
  font-family: 'Bebas Neue', cursive;
  font-size: 5em;
  text-align: center;
  margin: 0.6em;
  color: #000000; }

.sub-titulo {
  font-family: 'Bebas Neue', cursive;
  font-size: 4em;
  text-align: center;
  margin: 1em;
  color: #000000; }

.bg-blue {
  background-color: #0600FF; }

.bg-black {
  background-color: #000000; }

.bg-grey {
  background-color: #5E5E5E; }

@media screen and (max-width: 430px){
  .encabezado {
    display: grid;
    grid-template-rows:auto;
    
  }

 .encabezado__logo--centrado{
  width: 10em;
  height: 10em;
 }


nav ul {
display: flex;
justify-content: space-evenly ;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
  font-size:11px;
   
}
.titulo-centrado-grande{
  font-family: 'Bebas Neue', cursive;
  font-size: 3em;
  text-align: center;
  margin: 1.5em ;
  color: #000000;

}
.principal__hipervinculo--centrado{
  display:flex ;

  justify-content: space-evenly ;
  width: 100%;
  margin: auto;

}
.sub-titulo{
  font-family: 'Bebas Neue', cursive;
  font-size: 2.5em;
  text-align: center;
  margin: 0.5em;
  color: #000000;
}
.principal__articulo {
  border: solid rgba(0, 23, 255, 1.0) 0.2em;
  widows: 85%;
  text-align: center;
  margin: 1.5em;
  background: rgba(0, 23, 255, 0.5);

}
.principal__texto--centrado{
  font-size: 2em;
  display: inline-block;
  margin: 1em;
  
}
.nov{
  margin: 0em;
  width: 100%;
margin-top: 3em;
margin-bottom: 10em;

}
.rusty{
margin-left: 0.5em;
}
.quick{
margin-left:0.5em;
}
.billa{
margin-left: 0.3em;
}
.contacto {
  display: flex; }

.form-contacto {
  text-align: center;
  display: inline-block;
  border: solid #0017ff 0.2em;
  padding: 0.5em; }

.centrado {
   }

.mapa {
  ; 
margin: auto;}

.contacto-mapa {
 
 }

iframe{
  width: 30em
  
}
.fotos-nosotros{
  padding: 0em;
  width: 100%;
 margin-top: 5em;
 size: 10em;
 
}
.pie{
  background: #000000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}
.pie__redes{
  
  display: flex;
  align-items: center;

  order:1 ;
}
.fb{
  background: white;
  display: inline-block;
  width: 30px;
}
.pie__redsocial{
  display: flex;

  justify-content:space-evenly ;
  margin: auto;
  width: 40px;
  height: 40px;
  
}
.pie__titulo{
  color: white;
  display: flex;
  justify-content: space-evenly;

  font-size:1em;

  order:3 ;
}
.pie__form{
  display: flex;
  justify-content: space-evenly;
  


  order: 2 ;
}
.pie__label{
  display: flex;
  justify-content: space-evenly;
  color: white;
  font-size: 1em;
}
      }

@media screen and (max-width: 480px){
  .titulo-centrado-grande{
  font-family: 'Bebas Neue', cursive;
  font-size: 3em;
  text-align: center;
  margin: 1.5em ;
  color: #000000;

}
.principal__hipervinculo--centrado{
  display:flex ;

  justify-content: space-evenly ;
  width: 100%;
  margin: auto;

}
.sub-titulo{
  font-family: 'Bebas Neue', cursive;
  font-size: 2em;
  text-align: center;
  margin: 0.5em;
  color: #000000;
}
.principal__articulo {
  border: solid rgba(0, 23, 255, 1.0) 0.2em;
  widows: 85%;
  text-align: center;
  margin: 1.5em;
  background: rgba(0, 23, 255, 0.5);

}
.principal__texto--centrado{
  font-size: 1.25em;
  display: inline-block;
  margin: 1em;
  
}
  .fotos-nosotros{
  padding: 0em;
  width: 100%;
  height: 100%;
 margin-top:2em;
 margin-bottom: ;

 
}
.pie{
  background: #000000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 24em;

}
.pie__redes{
  
  display: flex;
  align-items: center;

  order:1 ;
}
.fb{
  background: white;
  display: inline-block;
  width: 40px;
}
.pie__redsocial{
  display: flex;

  justify-content:space-evenly ;
  margin: 0.2em;
  width: 40px;
  height: 40px;
  
}
.pie__titulo{
  color: white;
  display: flex;
  justify-content: space-evenly;

  font-size:1.5em;

  order:3 ;
}
.pie__form{
  display: flex;
  justify-content: space-evenly;
  


  order: 2 ;
}
.pie__label{
  display: flex;
  justify-content: space-evenly;
  color: white;
  font-size: 1em;
}
      }
}
@media screen and (min-width: 390px){
.titulo-centrado-grande{
  font-family: 'Bebas Neue', cursive;
  font-size: 4em;
  text-align: center;
  margin: 1.2em ;
  color: #000000;

}
.principal__hipervinculo--centrado{
  display:flex ;

  justify-content: space-evenly ;
  width: 85%;
  margin: auto;

}
.sub-titulo{
  font-family: 'Bebas Neue', cursive;
  font-size: 2em;
  text-align: center;
  margin: 0.5em;
  color: #000000;
}
.principal__articulo {
  border: solid rgba(0, 23, 255, 1.0) 0.2em;
  widows: 85%;
  text-align: center;
  margin: 1.5em;
  background: rgba(0, 23, 255, 0.5);

}
.principal__texto--centrado{
  font-size: 1.25em;
  display: inline-block;
  margin: 1em;
  
}
  .fotos-nosotros{
  padding: 0em;
  width: 100%;
  height: 100%;
 margin-top:2em;
 margin-bottom: ;

 
}
.pie{
  background: #000000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 24em;

}
.pie__redes{
  
  display: flex;
  align-items: center;

  order:1 ;
}
.fb{
  background: white;
  display: inline-block;
  width: 40px;
}
.pie__redsocial{
  display: flex;

  justify-content:space-evenly ;
  margin: 0.2em;
  width: 40px;
  height: 40px;
  
}
.g
.pie__titulo{
  color: white;
  display: flex;
  justify-content: space-evenly;

  font-size:1.5em;

  order:3 ;
}
.pie__form{
  display: flex;
  justify-content: space-evenly;
  


  order: 2 ;
}
.pie__label{
  display: flex;
  justify-content: space-evenly;
  color: white;
  font-size: 1em;
}
      }
}
}
@media screen and (min-width: 480px){
    .encabezado {
    display: grid;
    grid-template-rows:auto;
    justify-content: space-evenly ;
  }

 .encabezado__logo--centrado{
  width: 10em;
  height: 10em;
 }


nav ul {
display: flex;
justify-content: space-evenly ;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
  font-size:1.5em;
   
}
.titulo-centrado-grande{
  font-family: 'Bebas Neue', cursive;
  font-size: 3em;
  text-align: center;
  margin: 1em ;   
  color: #000000;

}
.principal__hipervinculo--centrado{
  display:flex ;

  justify-content: space-evenly ;
  width: 85%;
  height: 100%;
  margin: auto;

}
.sub-titulo{
  font-family: 'Bebas Neue', cursive;
  font-size: 2em;
  text-align: center;
  margin: 0.5em;
  color: #000000;
}
.principal__articulo {
  border: solid rgba(0, 23, 255, 1.0) 0.2em;
  widows: 85%;
  text-align: center;
  margin: 1.5em;
  background: rgba(0, 23, 255, 0.5);

}
.principal__texto--centrado{
  font-size: 1.25em;
  display: inline-block;
  margin: 1em;
  
}
.contacto {
  display: flex; }

.form-contacto {
  text-align: center;
  display: inline-block;
  border: solid #0017ff 0.2em;
  padding: 1em; }

.centrado {
  text-align: center; }

.mapa {
  text-align: center; }

.contacto-mapa {
  display: flex;
  justify-content: center; }

  .fotos-nosotros{
  padding: 0em;
  width: 100%;
  height: 100%;
 margin-top:2em;
 margin-bottom: ;

 
}
.pie{
  background: #000000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 24em;

}
.pie__redes{
  
  display: flex;
  align-items: center;

  order:1 ;
}
.fb{
  background: white;
  display: inline-block;
  width: 40px;
}
.pie__redsocial{
  display: flex;

  justify-content:space-evenly ;
  margin: 0.2em;
  width: 40px;
  height: 40px;
  
}
.pie__titulo{
  color: white;
  display: flex;
  justify-content: space-evenly;

  font-size:1.5em;

  order:3 ;
}
.pie__form{
  display: flex;
  justify-content: space-evenly;
  


  order: 2 ;
}
.pie__label{
  display: flex;
  justify-content: space-evenly;
  color: white;
  font-size: 1em;
}
      }
}

@media screen and (min-width: 768px){
    .encabezado {
    display: grid;
    grid-template-rows:auto;
    justify-content: space-evenly ;
  }

 .encabezado__logo--centrado{
  width: 10em;
  height: 10em;
 }


nav ul {
display: flex;
justify-content: space-evenly ;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
  font-size:2em;
   
}
.titulo-centrado-grande{
  font-family: 'Bebas Neue', cursive;
  font-size: 3em;
  text-align: center;
  margin: 1em ;   
  color: #000000;

}
.principal__hipervinculo--centrado{
  display:flex ;

  justify-content: space-evenly ;
  width: 85%;
  height: 100%;
  margin: auto;

}
.sub-titulo{
  font-family: 'Bebas Neue', cursive;
  font-size: 3em;
  text-align: center;
  margin: 0.5em;
  color: #000000;
}
.principal__articulo {
  border: solid rgba(0, 23, 255, 1.0) 0.2em;
  widows: 85%;
  text-align: center;
  margin: 1.5em;
  background: rgba(0, 23, 255, 0.5);

}
.principal__texto--centrado{
  font-size: 2em;
  display: inline-block;
  margin: 1em;
  
}
.contacto {
  display: flex; }

.form-contacto {
  text-align: center;
  display: inline-block;
  border: solid #0017ff 0.2em;
  padding: 1em; }

.centrado {
  text-align: center; }

.mapa {
  text-align: center; }

.contacto-mapa {
  display: flex;
  justify-content: center; }

iframe{
  width: 70em
}
.pie{
  background: #000000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}
.pie__redes{
  
  display: flex;
  align-items: center;

  order:1 ;
}
.fb{
  background: white;
  display: inline-block;

}
.pie__redsocial{
  display: flex;

  justify-content:space-evenly ;
  margin: 0.4em;
  width: 60px;
  height: 60px;
  
}
.pie__titulo{
  color: white;
  display: flex;
  justify-content: space-evenly;

  font-size:1.8em;

  order:3 ;
}
.pie__form{
  display: flex;
  justify-content: space-evenly;
  


  order: 2 ;
}
.pie__label{
  display: flex;
  justify-content: space-evenly;
  color: white;
  font-size: 1.8em;
} 
}

@media screen and (max-width: 820px){

.nov{
  margin: 0em;
  width: 100%;
margin-top: 7em;
margin-bottom: 16em;

}
.rusty{
margin-left: 0.5em;
}
.quick{
margin-left:0.5em;
}
.billa{
margin-left: 0.3em;
}
.titulo-centrado-grande{
  margin-top: 1.1em;
}
}
.pie{
  margin-top: 20em;
}

@media screen and (max-width: 375px){
.fb{
  background: white;
  display: inline-block;
  width: 30px;
}
.pie__redsocial{
  display: flex;

  justify-content:space-evenly ;
  margin: 0.5em;
  width: 30px;
  height: 30px;
  
}

.pie__titulo{
  color: white;
  display: flex;
  justify-content: space-evenly;

  font-size:1.2em;

  order:3 ;
}
}